@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-blue:#18A0FB;
    --header-blue:#072756;
    --color-white:#fff;

}
.blog-compact-item-container a{
    text-decoration: none;

}
.blog-compact-item-content h3 {
    color: #000;
    font-size: 20px;
    padding: 0;
    font-weight: 500;
    margin: 2px 0 0 0;
}
.blog-compact-item-content p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    color: #000;
    margin: 7px 0 0 0;
}
.margin-top-55{
    margin-top: 55px;
}

.margin-bottom-55{
    margin-top: 55px;
}

.margin-bottom{
    margin-bottom: 230px;
}
img {
    max-width: 100%;
}
.blog-compact-item-container img {
    height: 48%;
    width: 100%;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.padding-bottom-55 {
    padding-bottom: 55px !important;
}
.padding-top-55 {
    padding-bottom: 55px !important;
}
.blog-compact-item-container {
    display: block;
    border-radius: 4px;
    background: transparent;
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s;
    margin-bottom: 35px;
}
.blog-compact-item {
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
    border-radius: 4px;
    height: 60%;
    display: flex;
    position: relative;
    z-index: 100;
    cursor: pointer;
    padding: 18px 27px;
    transition: 0.4s;
}
.blog-row{
    justify-content: center;
    padding-left: 30px;
}