.margin-top-25 {
    margin-top: 25px
}

.green {
    flex-grow: 1;
}

.typewriter-container {
    position: relative;
     background-image: url(../../assets/starttodayimg.png); 
    background-repeat: no-repeat;
    background-position: -85px;
    border-radius: 10px;
}
.container-main{
    /* background-color: red; */
    display: flex;
    align-items: baseline;
    align-items: center;
    padding-left: 100px;
}

.typewriter {
    /* display: flex; */
    flex-wrap: wrap;
    border-radius: 16px;
    /* background-color: red; */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 30%); */
    margin-left: 5%;
    margin-right: 10%;
    width: 90%;
    align-items: center;
}
.typewriter h3 {
    font-size: 32px;
    line-height: 27px;
    font-weight: 700;
    color: var(--color-white);
}

.yellow {
    margin-left: 5%;
    width: 100%;
    padding-bottom: 17px;
    /* background-color: yellow; */

}


@media(max-width:1400px)
{
    .container-main{
        padding-left:0px;
    }
}
@media(max-width:900px)
{
    .container-main{
        padding-left:0px;
    }
}
