@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-blue:#18A0FB;
    --header-blue:#072756;
    --color-white:#fff;

}
.intro-banner{
    background-color: var(--header-blue);
    background-image: url('./images/Rectangle.png');
    width: 100%;
    height: 110vh;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -23px -98px;
}

.intro-banner .container-fluid{
    /* background-color: rgb(140, 255, 0); */
    padding:30px 64px;
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 165px;
}

.content-container h3 strong {
    line-height: 1;
    color: var(--color-white);
    font-size: 64px;
    margin: 6px 0;
    word-spacing: 6.6px;
    font-family: 'Poppins', sans-serif;
}
.content{
    margin-top:31px;
    padding-top:8px;

}
.button.button-sliding-icon {
    /* padding-left: 20px;
    padding-right: 10px; */
    margin-right: 10px;
}
.left{
   /* background-color: rgb(232, 73, 73); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height:70%;
}
.right{
    /* background-color:rgb(189, 189, 120); */
     height:70%;
}
img {
    max-width: 100%;
}
.content-container span{
    padding: 5px;
    display: block;
    color: var(--primary-blue);
    padding-top: 23px;
    margin-top: 3px;
    font-size: 22px;
    
}
.content a{
    padding: 14px;
    background-color: var(--primary-blue);
    border-radius:10px;
    width:171.08px;
    text-align: center;
    color:white;
    text-decoration: none;
}

.section {
    display: block;
}