@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-blue:#18A0FB;
    --header-blue:#072756;
    --color-white:#fff;

}

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        /* width: 3.46rem; */
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        /* width: 3.8125rem; */
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* background-color: #3b82f6 */
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    /* background-color: var(--color-white); */
    background-color: red;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}
.how-it-works-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 46px;
}

.how-it-works-container {
    padding-top: 93px;
}


.timeline-steps {
    /* background-color: red; */
    display: flex;
    padding-top: 20px;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    /* background-color: green; */
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        /* width: 3.46rem; */
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }

    .timeline-steps .timeline-step:not(:first-child):before {

        content: "";
        display: block;
        border-top: 0.25rem dotted #3b82f6;
        width: 12rem;
        position: absolute;
        right: 11rem;
        top: 0.3125rem;
        
    }
}
@media(max-width:1182px){
    .timeline-steps .timeline-step:not(:first-child):before {
        display:none;
    }
    .timeline-steps .timeline-step:not(:last-child):after {
        display:none;
    }


}
@media(max-width:1283px){
     .timeline-steps { flex-basis: calc(50% - 20px); 
     }


}

.timeline-steps .timeline-content {
    width: 16rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    height: 4rem;
    /* width: 60px; */
    min-width: 4rem;
    border-radius: 6.25rem;
    opacity: .5;
    z-index: 1;
}

.fa-user,
.fa-user-group,
.fa-handshake,
.fa-briefcase {
    z-index: 100;
    position: absolute;
    color: var(--primary-blue);
    font-size: 22px;

}
