@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: Poppins, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.App {
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 1.85rem;
  margin-bottom: 0.55rem;
  color: #000000;
}

h2 {
  font-weight: 400;
  font-size: 1.05rem;
  margin-bottom: 1rem;
  color: #000000;
}

h3,
h4 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #000000;
}

h5 {
  color: #B4B4B4;
  font-size: 0.95rem;
}

hr {
  border-top: 1.5px solid #18a0fb;
  border-bottom: none;
  margin-bottom: 2rem;
}

label span {
  color: #ff0000;
}

textarea {
  resize: none;
}
